.registration {
  height: 100%;

  &__heading {
    font: var(--font-body-4-700);

    @include mq(sm) {
      font: var(--font-body-5-700);
    }
  }

  &__form-legend {
   font: var(--font-body-2);
   text-transform: uppercase;
   margin-bottom: 3.2rem;

   @include mq(sm) {
     font: var(--font-body-3-600);
     margin-bottom: 2.4rem;
     text-align: center;
   }
  }

  &__btn {
    padding: 1.5rem 2.3rem;
    background-color: var(--color-dark-green);
    color: var(--color-white);
    border: 1px solid var(--color-dark-green);
    text-transform: uppercase;
    transition: color var(--transition), background-color var(--transition), transform var(--transition);
    cursor: pointer;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark-green);
    }

    &:active {
      transform: scale(0.98);
    }

    &.disabled {
      pointer-events: none;
      background-color: #CDCDCD;
      border-color: #CDCDCD;
    }

    &._transparent {
      background-color: var(--color-white);
      color: var(--color-dark-green);

      &:hover {
        background-color: var(--color-dark-green);
        color: var(--color-white);
      }
    }
  }

  &__succes {
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 99.4rem;
    margin: 0 auto;

    &.is-active {
      display: flex;
    }
  }

  &__succes-icon {
    display: block;
    width: 10rem;
    height: 10rem;
    margin-bottom: 3.2rem;

    @include mq(sm) {
      width: 7.2rem;
      height: 7.2rem;
      margin-bottom: 1.6rem;
    }
  }

  &__succes-heading {
    margin-bottom: 1.2rem;
    font: var( --font-body-2);
    text-transform: uppercase;
    text-align: center;

    @include mq(sm) {
      font: var(--font-body-3-700);
    }
  }

  &__succes-txt {
    max-width: 49.1rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__succes-info {
    padding: 4rem;
    max-width: 78.7rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3.2rem;
    background-color: var(--color-bg);

    @include mq(sm) {
      padding: 2.4rem 1.6rem;
    }
  }

  &__succes-info-text {
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    font: var(--font-body-5-700);

    @include mq(sm) {
      font: var(--font-body-6);
      font-weight: 700;
    }
  }

  &__succes-info-item {
    max-width: 49rem;
    display: flex;
    align-items: flex-start;
    font-size: var(--font-body-5-400);
    margin-bottom: 1.4rem;

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    @include mq(sm) {
      font: var(--font-body-6);
    }
  }

  &__succes-info-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: none;
    stroke: var(--color-dark-green);
    margin-right: 1.2rem;
    flex-shrink: 0;
  }

  &__succes-info-link {
    position: relative;
    display: inline-block;
    color: var(--color-dark-green);
    font: var(--font-body-6);
    margin: 0 0.5rem;

    &::before {
      position: absolute;
      width: 100%;
      height: 2px;
      border-bottom: 1px dashed currentColor;
      left: 0;
      bottom: 0;
      content: "";
    }

    &:hover {
      &::before {
        opacity: 0;
      }
    }
  }

  &__succes-btns {
    display: flex;
    align-items: center;
    align-self: stretch;
    max-width: 78.7rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6rem;

    .registration__btn._transparent {
      margin-left: 1.2rem;

      @include mq(sm) {
        margin-left: 0;
        margin-top: 1.4rem;
      }
    }

    @include mq(sm) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__succes-links {
    max-width: 78.7rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 1.6rem;
    border-top: 1px solid var(--color-border);

    @include mq(sm) {
      display: none;
    }
  }

  &__succes-links-legend {
    text-align: center;
    margin-bottom: 1.2rem;
    color: var(--color-grey);
  }

  &__succes-links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  &__succes-links-item {
    &:nth-child(1) {
      .icon {
        fill: none;
        stroke: var(--color-white);
        stroke-width: 2px;
      }
    }
  }

  &__succes-links-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg2);
    width: 4.8rem;
    height: 4.8rem;
    transition:  background-color var(--transition);

    &:hover {
      background-color: var(--color-dark-green);
    }
  }

  &__succes-links-icon {
    fill: var(--color-white);
    width: 2.4rem;
    height: 2.4rem;
  }
}

.registration-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.is-hidden {
    display: none;
  }

  &__heading {
    margin-bottom: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
  }

  &__text {
    text-align: center;
    max-width: 43.6rem;
    margin: 0 auto 4rem auto;

    @include mq(sm) {
      font: var(--font-body-6);
      margin: 0 auto 2rem auto;
    }

    button {
      color: var(--color-dark-green);
      display: inline-block;
      padding-left: 0.4rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--offset-32);
    align-self: stretch;

    @include mq(sm) {
      gap: 1.2rem;
    }
  }

  &__item {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2 span;
    padding: 3.2rem;
    border: 1px solid #EAEAEA;
    min-height: 32rem;
    cursor: pointer;

    input:checked {
      ~._layer {
        background-color: var(--color-dark-green);
      }

      ~.icon {
        fill: var(--color-white);
      }

      ~.registration-type__item-legend {
        color: var(--color-white);
      }

      ~.registration-type__item-text {
        color: rgba($color: #fff, $alpha: 0.6);
      }
    }

    ._layer {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: background-color var(--transition);
      content: "";
    }

    &:hover {
      ._layer {
        background-color: var(--color-dark-green);
      }

      .icon {
        fill: var(--color-white);
      }

      .registration-type__item-legend {
        color: var(--color-white);
      }

      .registration-type__item-text {
        color: rgba($color: #fff, $alpha: 0.6);
      }
    }

    @include mq(sm) {
      grid-column: 6 span;
      min-height: 14.4rem;
      padding: 2rem 1.6rem;
    }
  }

  &__item-icon {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.2rem;
    fill: var(--color-dark-green);
    transition: fill var(--transition);

    @include mq(sm) {
      display: none;
    }
  }

  &__item-legend {
    text-align: center;
    margin-bottom: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    transition: color var(--transition);

    @include mq(sm) {
      font: var(--font-body-6);
      font-weight: 600;
      margin-bottom: 1.2rem;
    }
  }

  &__item-text {
    text-align: center;
    font: var(--font-body-6);
    margin-bottom: 0.4rem;
    color: var(--color-grey);
    transition: color var(--transition);

    @include mq(sm) {
      font: var(--font-body-7);
    }
  }

  &__btn {
    margin-top: 4rem;
    margin-left: auto;

    @include mq(sm) {
      margin: 2rem 0 0;
      width: 100%;
    }
  }
}

.registration-form {
  display: none;

  &.is-active {
    display: block;
  }

  &__text {
    margin-top: 2.4rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2.4rem 3.2rem;
    margin-top: 5.6rem;

    @include mq(sm) {
      gap: 1.6rem 0;
      margin-top: 3.2rem;
    }
  }

  &__label {
    position: relative;
    display: block;
    grid-column: 4 span;

    &._textarea {
      grid-column: 8 span;

      @include mq(sm) {
        grid-column: 10 span;
      }
    }

    ul.parsley-errors-list {
      position: absolute;
      bottom: 0.4rem;
      right: 1rem;
      color: tomato;
      font: var(--font-body-7);
    }

    @include mq(sm) {
      grid-column: 10 span;
    }
  }

  &__label-name {
    position: relative;
    display: inline-block;
    font: var(--font-body-6);
    margin-bottom: 1.2rem;

    &._required {
      &::after {
        position: absolute;
        top: 0.1rem;
        right: -1rem;
        color: var(--color-dark-green);
        content: "*";
      }
    }

    @include mq(sm) {
      margin-bottom: 0.8rem;
    }
  }

  &__argeement {
    grid-column: 8 span;
    position: relative;
    cursor: pointer;

    ~ ul.parsley-errors-list {
      display: none;
    }
    &.parsley-error {
      p {
        color: tomato;
      }
    }


    @include mq(sm) {
      grid-column: 10 span;
    }

    input:checked {
      ~p {
        &::before {
          background-color: var(--color-dark-green);
        }
      }
    }

    p {
      position: relative;
      padding-left: 2.8rem;
      font: var(--font-body-7);

      a {
        color: var(--color-dark-green);
        padding: 0 0.4rem;

        &:hover {
          text-decoration: underline;
        }
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.6rem;
        height: 1.6rem;
        border: 1px solid var(--color-dark-green);
        transition: background-color var(--transition);
        content: "";
      }

      &::after {
        position: absolute;
        top: 0.5rem;
        left: 0.4rem;
        width: 0.8rem;
        height: 0.5rem;
        border-bottom: 2px solid var(--color-white);
        border-left: 2px solid var(--color-white);
        transform: rotate(-45deg);
        content: "";
      }
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 12rem;
    padding: 1.2rem 1.6rem;
    font: var(--font-body-6);
    border: 1px solid #EAEAEA;
    resize: none;

    &::placeholder {
      font: var(--font-body-6);
      color: var(--color-grey);
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;

    @include mq(sm) {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      gap: 1rem 0;
      margin-top: 3rem;

      button[type=button] {
        order: 2;
      }

      button[type=submit] {
        order: 1;
      }

    }
  }
}
