.socials {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  &__item {

  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--color-bg2);

    &:hover,
    &:focus {
      background-color: var(--color-light-green);
    }


    &:active {
      background-color: var(--color-dark-green);
    }
  }

  &__link-icon {
    fill: var(--color-white);
    width: 2rem;
    height: 1.6rem;
  }
}
