section.feautures.section-indent-padding
  .site-container.feautures__container.grid-container
    .feautures__item
      .feautures__item-inner
        p.feautures__item-heading
          | 1 000 м2
        p.feautures__text
          | Самый масштабный блок среди всех направлений выставки
    .feautures__item
      .feautures__item-inner
        p.feautures__item-heading
          | 7 стран
        p.feautures__text
          | Участников
    .feautures__item
      .feautures__item-inner
        p.feautures__item-heading
          | 15 000
        p.feautures__text
          | Человек посетят блок АПК
