section.intro(style="background-image: url(images/intro-bg.jpg)")
  .site-container
    +icon-mono("scroll-by")(width="21" height="28" class="intro__scroll-by-icon")
    .grid-container
      .intro__heading-block
      .intro__heading-block
        .intro__heading-text
          span.intro__text-white Kazan
          span.intro__text-big DIGITAL
          span.intro__text-white Week – 2022

    .grid-container
      .intro__content-block
        p.intro__content-text
          | Международный форум в сфере цифровых технологий в сельском хозяйстве
      .intro__content-block
        p.intro__content-text
          | г. Казань
          br
          | 21-24 сентября 2022
