main.page-main.main
  include hero.pug
  include numbers.pug
  include forum.pug
  include participants.pug
  include programm.pug
  include slider.pug
  include shiled.pug
  include exposure.pug
  include feautures.pug
  include pakages.pug
  include partners.pug
  include map.pug
