section.pakages.section-indent-padding.js-map-laoding
  .site-container.pakages__container.grid-container.js-anim-fade-out(data-intersection-ratio="0.25")
    - for (let i = 0; i<3; i++)
      .pakages__item
        .pakages__item-top
          h3.pakages__item-name Название пакета
          p
            | Самый масштабный блок среди всех направлений выставки
          p
            | Самый масштабный блок среди всех направлений выставки
          ul
            li Вторительный
            li Предварительный
        .pakages__item-bottom
          button.button-reset.pakages__item-btn(data-path="callback")
            span._name Узнать цену
            span.pakages__item-btn-icon-wrapper
              +icon-mono("arrow")(width="20" height="12" class="pakages__item-btn-icon")
