section.partners.section-indent-padding.js-partners-container(id="partners")
  .site-container.partners__container
    h2.site-second-heading.partners__heading
      | ПАРТНЕРЫ
    ul.partners__list.grid-container
      - for (let i = 0; i<4; i++)
        li.partners__item
          img(src="images/partners/img1.svg" alt="")
    button.button-reset.partners__show-more.js-partners-show-btn
      span._show Смотреть ещё
      span._hide Скрыть

section.partners.section-indent-padding.js-partners-container
  .site-container.partners__container
    h2.site-second-heading.partners__heading
      | ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ
    ul.partners__list.grid-container
      - for (let i = 0; i<9; i++)
        li.partners__item
          img(src="images/partners/img1.svg" alt="")
    button.button-reset.partners__show-more.js-partners-show-btn
      span._show Смотреть ещё
      span._hide Скрыть
