section.programm.section-indent-padding(id="programm")
  .site-container.programm__container.grid-container
    .programm__block.programm__content
      h2.js-animated-heading
        | ДЕЛОВАЯ ПРОГРАММА
      p
        |  Участие в деловой программе Kazan Digital Week – это возможность представить
        |  уникальные цифровые решения, выступить на форуме перед ключевыми игроками рынка и
        |  представителями государственной власти
      .programm__nubmers
        .programm__nubmers-position
        .programm__nubmers-separator
          | /
        .programm__nubmers-count
    .programm__block
      .programm__themes
        p Темы деловой программы:
        ul
          li
            span
            | Мировые вызовы в сельском хозяйстве
          li
            span
            | Обмен опытом в области цифровизации АПК
          li
            span
            | Основные тренды цифровизации АПК
          li
            span
            | Стратегия цифровизации 2030
          li
            span
            | Индивидуальная деловая программа агробизнеса
          li
            span
            | Автоматизация и цифровизация в животноводстве, растениеводстве и переработке
          li
            span
            | Современные вызовы и решения цифровой трансформации в образовании, науке и кадрах АПК
        button.button-reset.button.programm__themes-btn
          span._border-top
          span._border-bottom
          | Смотреть Программу форума

