section.shiled.section-indent-padding.js-anim-fade-out
  .site-container
    .shiled__container.lazy(data-bg="images/shield/bg.jpg" data-bg-fallback="images/shield/bg.jpg")
      p
        | Станьте спикером и презентуйте свой кейс лидера цифровой трансформации АПК
      button.button-reset.button.shiled__btn(data-path="registration")
        span._border-top
        span._border-bottom
        | Стать спикером
