section.section-indent-padding.gallery.js-anim-fade-out
  .site-container
    .slider-nav.gallery__nav
      button.button-reset.slider-nav__btn.js-gallery-btn-prev(aria-label="Следующий слайд")
        +icon-mono("arrow")(class="slider-nav__btn-icon" width="21" height="12")
      button.button-reset.slider-nav__btn.js-gallery-btn-next(aria-label="Следующий слайд")
        +icon-mono("arrow")(class="slider-nav__btn-icon" width="21" height="12")
    .gallery__container.grid-container
      .gallery__container-block
      .gallery__container-block
        .gallery__wrapper
          .gallery__slider.swiper.js-gallery-slider
            .swiper-wrapper
              .swiper-slide.gallery__slide
                img.lazy(data-src="images/gallery/img1.jpg" src="#" alt="")
              .swiper-slide.gallery__slide
                img.lazy(data-src="images/gallery/img2.jpg" src="#" alt="")
              .swiper-slide.gallery__slide
                img.lazy(data-src="images/gallery/img3.jpg" src="#" alt="")
              .swiper-slide.gallery__slide
                img.lazy(data-src="images/gallery/img3.jpg" src="#" alt="")
      .gallery__container-block
