header.header.fix-blocks
  .site-container.header__container
    a.header__logo(href="/")
      img(src="images/logo-kdw.svg" alt="Логотип Kazan Digital Week 2022" class="header__logo-img")
    img(src="images/logo-rivc.svg" alt="Логотип компании РИВЦ" class="header__logo-rivc")
    a.header__link(href="#programm") ДЕЛОВАЯ ПРОГРАММА
    a.header__link(href="#exposure") ЭКСПОЗИЦИЯ
    button.button-reset.button(data-path="registration")
      span._border-top
      span._border-bottom
      | ЗАРЕГИСТРИРОВАТЬСЯ
    button.button-reset.header__burger-btn.js-open-menu
      span
      span
      span
