.forum {
  position: relative;

  &::before {
    position: absolute;
    top: 29rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    z-index: -1;
    content: "";

    @include mq(sm) {
      bottom: 0;
      top: auto;
      height: 61.6rem;
    }
  }

  &__heading {
    color: var(--color-dark);
    margin-bottom: 6rem;

    @include mq(sm) {
      margin-bottom: 3.2rem;
    }
  }

  &__list {
    @include mq(sm) {
      gap: 1.2rem 0;
    }
  }

  &__item {
    grid-column: 4 span;
    padding: 5.6rem 3.2rem;
    background-color: var(--color-white);
    transition: background-color var(--transition);

    p {
      font: var(--font-body-5-600);
      transition: color var(--transition);
    }

    &:hover {
      background-color: var(--color-dark-green);

      p {
        color: var(--color-white);
      }

      .icon {
        fill: var(--color-white);
      }
    }

    @include mq(sm) {
      grid-column: 12 span;
      padding: 3.2rem 2.4rem;
    }
  }

  &__item-img {
    display: block;
    fill: var(--color-dark-green);
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-bottom: var(--offset-32);
    transition: fill var(--transition);
  }
}
