.participants {
  background-color: var(--color-dark);

  &__heading {
    color: var(--color-white);
    margin-bottom: 6rem;

    @include mq(sm) {
      margin-bottom: 3.2rem;
    }
  }

  &__slider-wrapper {
    position: relative;
    min-width: 0;
    user-select: none;

    .swiper {
      padding: 2rem;
      margin: -2rem;
    }
  }

  &__item {
    grid-column: 3 span;
  }

  &__item-img-wrapper {
    position: relative;
    transition: transform var(--transition);

    &:hover {
      transform: scale(1.1);

      &::before,
      &::after {
        opacity: 1;
      }

      @include mq(sm) {
        transform: none;
      }
    }

    &::before,
    &::after {
      position: absolute;
      z-index: 2;
      width: 6.6rem;
      height: 7.7rem;
      opacity: 0;
      transition: opacity var(--transition);
      content: "";
    }

    &::before {
      top: 2rem;
      right: 2rem;
      border-top: 2px solid var(--color-light-green);
      border-right: 2px solid var(--color-light-green);
    }

    &::after {
      bottom: 2rem;
      left: 2rem;
      border-left: 2px solid var(--color-light-green);
      border-bottom: 2px solid var(--color-light-green);
    }
  }

  &__item-img {
    width: 100%;
    height: 32rem;
    display: block;
    object-fit: cover;
    object-position: center 10%;
    margin-bottom: 2.4rem;
    filter: grayscale(100%);

    @include mq(sm) {
      height: 26.5rem;
    }
  }

  &__name {
    margin-bottom: 0.4rem;
    color: var(--color-white);
  }

  &__position {
    display: block;
    color: var(--color-border);

    @include mq(sm) {
      font: var(--font-body-6);
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: var(--color-light-green);
    margin-top: 1.2rem;
  }

  &__link-arrow {
    width: 2rem;
    height: 1.2rem;
    fill: currentColor;
    margin-left: 1.2rem;
  }
}
