.shiled {
  color: var(--color-white);

  &__container {
    background-color: var(--color-dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 6rem;

    @include mq(sm) {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 -1.6rem;
      padding: 4rem 1.6rem;
    }

    p {
      font: var(--font-body-3-700);
      max-width: 71.8rem;

      @include mq(sm) {
        font: var(--font-body-4-700);
        margin-bottom: 3.2rem;
      }
    }
  }
}
